config MSTAR_EMAC
select NET
select NET_ETHERNET
select MII
select PACKET
select USE_POLICY_FWD
select INET
select NETDEVICES

tristate "EMAC"
default y

---help---
Enable compilation option for driver EMAC

if MSTAR_EMAC
config EMAC_SUPPLY_RNG
bool "Supply to random number generator device"
default n
help
    Supply to random number generator device

config ETHERNET_ALBANY
bool "Supply to internel PHY"
default n
help
    Supply to internel PHY

config MSTAR_HW_TX_CHECKSUM
bool "Supply to hardware TX checksum"
default n
help
    Supply to hardware TX checksum
endif
