//This file will create mpatch_macro.h and kconfig
//"M:" module name, "P:" Patch name

M:PLATFORM,"Platform Porting layer"
P:ARCH_GENERAL,y,"General Config For ARCH"
P:ARM,y,"For ARM only"
P:MIPS,y,"For MIPS only"
P:FIXME,y,"PLEASE FIX ME"
P:ARM_PMU,y,"For ARM PMU"
P:PM,y,"For PM Power Off"
P:ARM_ERRATA_775420,y,"ARM errata_775420: A data cache maintenance operation which aborts, might lead to deadlock"
P:MSTAR_LEGANCY_INTR,y,"For Second Level Interrupt"
P:SW_PATCH_L2_SRAM_RMA,n,"For L2 Sram RMA"


M:NAND,"NAND Driver Porting layer"
P:UBI, y, "Patch for UBI"
P:MTD, y, "Patch for MTD"
P:UBIFS, y,"Patch for UBIFS"
P:Spansion, y,"Patch for specific customers"
P:BBT, y,"patch for the security mechanism of bbt"
P:BBT_SIZE, y,"add bbt size compatibility and pair page effect"

M:USB,"USB Driver Patch"
P:MSTAR, y, "MSTAR USB Porting"

M:SD,"SD Driver Patch"
P:MSTAR, y, "MSTAR SD Patch"
P:PLUG, y, "Wiat for the initialization of SD card"

M:EMMC,"EMMC Driver Patch"
P:PARTITION, y, "EMMC Partition Porting"

M:MSTAR_STR,"MStar STR"
P:BASE,n,"Enable MStar STR"

M:Android,"MSTAR Android Patch"
P:LOW_MEM_KILLER_INCLUDE_CACHEMEM,y,"MSTAR Android Low Memory Killer Patch Consider Cache and Free"
P:DUMMY_MSTAR_RTC,n,"MSTAR Fake RTC For Android"
P:ALARM_CLOCK_BOOTTIME_PATCH,y,"MSTAR Android Alarm clock boot time patch"
P:MSTAR_RC_MAP_DEFINE,y,"MStar rc map define, depend on CONFIG_MSTAR_IR_INPUT_DEVICE"
P:COREDUMP_PATH,n,"Change Coredump Path depend on core name"

M:COMPILER,"Fix Compiler Error"
P:ERROR,y,"Please Fix Compiler Error"

M:DEBUG_TOOL,"MSTAR DEBUG_TOOL"
P:WATCHDOG,y,"Enable Watchdog Reset"
P:CODEDUMP,y,"Enable CODEDUMP Item"
P:KDEBUG,y,"Enable KDEBUG Item"
P:CHANGELIST,y,"Display Kernel Changelist"

M:REMOTE_CONTROL,"MSTAR Remote Control Patch"
P:RC_REGISTER_RETRY,y,"MSTAR Patch for rc device register"

M:SCSI,"SCSI sd card hotplug "
P:MSTAR_SD_CARD_HOTPLUG,y,"MSTAR Patch for sd card hotplug"

M:MM,"3D alloc in MIU0/MIU1 "
P:MSTAR_3DALLOC_MIU0_1,y,"MSTAR Patch for 3d alloc in MIU0/MIU1"
P:MALI_MMU_NOTIFIER,n,"replacing mmu_notifier in mm/Kconfig"

M:MMAP,"Modify memory map"
P:BUFFERABLE,y,"change the write strategy from non-cache to non-cache bufferable"

M:JIFFIES, "Jiffies patch"
P:PRINT,y,"Show the jiffies"

M:MIU, "MIU settings"
P:MAPPING,y,"Memory mapping strategy through MIU for eagle"

M:MIPS_L2,"MIPS Mstar L2 Patch"
P:CATCH,y,"Enable MIPS L2 Cache Mechanism"

M:WDT, "WDT settings"
P:OFF_DBG,y,"Do not reset watch dog under debug mode"

M:CAMERA, "CAMERA plug"
P:PLUG_OUT,y,"Set time out for event waiting"

M:SYSATTR, "ATTR of API"
P:SHOW,y, "Let the hidden attribute could be accessed by user API"

M:MIPS_HIGHMEM,"MIPS Highmem Patch"
P:CACHE_ALIAS_PATCH,y,"Highmem Cache Alias Patch"

M:CHECKPT, "Print for autotest"
P:BOOT,y,"Add a checkpoint for boottime autotest"

M:CORE, "Dynamically decided core file path"
P:PATH,y,"depend on bootargs to change core pattern"

M:WEBCAM, "WEBCAM settings"
P:INIT,y,"modify the init process of logic webcam"

M:BDI,"BDI race condition patch"
P:MSTAR_BDI_PATCH,y,"MSTAR Patch for bdi race condition"

M:NTFS,"NTFS CONTROL"
P:IOCTL,y,"Enable NTFS IOCTL"
P:VOLUME_LABEL,y,"Enable NTFS VOLUME LABEL"
P:VOLUME_ID,y,"Enable NTFS VOLUME ID"
M:USB,"USB STR patch"
P:STR_PATCH,y,"MSTAR Patch for usb str"

M:KERNEL_COMPAT,"Kernel forward/backford compatibility"
P:PATCH_FIX_INODE_CLUSTER_LIST,y,"port relative code from 2.6.28.9 to 3.1.10"
